In [1]:
import pandas as pd

In [2]:
data =pd.read_csv("D:\python learning\market_data.csv")

In [3]:
data.head()

,RepName,Day of Created_x,Customer Type,CustomerId,Customer Name,Address 1_x,Area Name,City Name,District_x,StateName_x,...,Rep Name,Day of Created (sitebrandmixlines),Site Name_y,District Name_y,Construction Stage,Category Name_y,Sub-Category_y,Brand Name_y,Source Partner Name,Credit Status_y
0,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,CEMENT,PPC,PRIYA CEMENT,NaN,NaN
1,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,ELECTRICALS,ELECTRICAL CONDUITS,FINOLEX,NaN,NaN
2,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,ELECTRICALS,MCB,POLYCAB,NaN,NaN
3,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,ELECTRICALS,WIRES & CABLES,MAHAL,NaN,NaN
4,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,PLYWOODS & BOARDS,PLYWOOD,CENTURY PLY,NaN,NaN

In [4]:
data.columns

Index(['RepName', 'Day of Created_x', 'Customer Type', 'CustomerId',
       'Customer Name', 'Address 1_x', 'Area Name', 'City Name', 'District_x',
       'StateName_x', 'MobileNumber_x', 'Latlng_x', 'GST No_x', 'DealerId',
       'RepName_x', 'Day of Created Date', 'City Name_x', 'Area Name_x',
       'Dealer Name_x', 'Category Name_x', 'Sub-Category_x', 'Brand Name_x',
       'Dealer type', 'Rank', 'Sourcing Partner', 'SourcingPartnerType',
       'Credit Status_x', 'RepName_y', 'Day of Created_y', 'Dealer Name_y',
       'Address 1_y', 'Area Name_y', 'City Name_y', 'District_y',
       'StateName_y', 'MobileNumber_y', 'Latlng_y', 'Lot Size',
       'Customer Rating', 'Credit Rating', 'GST No_y', 'SiteId', 'Rep. Name',
       'Day of Created (sites)', 'Site Name_x', 'Address1 (sites)',
       'Area/Town', 'CityName', 'District Name_x', 'Pin Code', 'Lat.Lng.',
       'MobileNo.', 'Initial Construction Stage', 'Rep Name',
       'Day of Created (sitebrandmixlines)', 'Site Name_y', 'District Name_y',
       'Construction Stage', 'Category Name_y', 'Sub-Category_y',
       'Brand Name_y', 'Source Partner Name', 'Credit Status_y'],
      dtype='object')

In [5]:
data[['Day of Created_x','Day of Created Date','Day of Created_y','Day of Created (sites)','Day of Created (sitebrandmixlines)']]

,Day of Created_x,Day of Created Date,Day of Created_y,Day of Created (sites),Day of Created (sitebrandmixlines)
0,11 October 2023,6 October 2023,6 October 2023,11 October 2023,11 October 2023
1,11 October 2023,6 October 2023,6 October 2023,11 October 2023,11 October 2023
2,11 October 2023,6 October 2023,6 October 2023,11 October 2023,11 October 2023
3,11 October 2023,6 October 2023,6 October 2023,11 October 2023,11 October 2023
4,11 October 2023,6 October 2023,6 October 2023,11 October 2023,11 October 2023
...,...,...,...,...,...
14100,19 October 2023,19 October 2023,19 October 2023,19 October 2023,19 October 2023
14101,19 October 2023,19 October 2023,19 October 2023,19 October 2023,19 October 2023
14102,19 October 2023,19 October 2023,19 October 2023,19 October 2023,19 October 2023
14103,19 October 2023,19 October 2023,19 October 2023,19 October 2023,19 October 2023
14104,19 October 2023,19 October 2023,19 October 2023,19 October 2023,19 October 2023

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14105 entries, 0 to 14104
Data columns (total 63 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   RepName                             14105 non-null  object
 1   Day of Created_x                    14105 non-null  object
 2   Customer Type                       14105 non-null  object
 3   CustomerId                          14105 non-null  int64
 4   Customer Name                       14105 non-null  object
 5   Address 1_x                         14105 non-null  object
 6   Area Name                           14089 non-null  object
 7   City Name                           14057 non-null  object
 8   District_x                          14105 non-null  object
 9   StateName_x                         13993 non-null  object
 10  MobileNumber_x                      14105 non-null  object
 11  Latlng_x                            13799 non-null  object
 12  GST No_x                            0 non-null      float64
 13  DealerId                            14105 non-null  int64
 14  RepName_x                           14105 non-null  object
 15  Day of Created Date                 14105 non-null  object
 16  City Name_x                         14105 non-null  object
 17  Area Name_x                         14105 non-null  object
 18  Dealer Name_x                       14105 non-null  object
 19  Category Name_x                     14105 non-null  object
 20  Sub-Category_x                      14105 non-null  object
 21  Brand Name_x                        14105 non-null  object
 22  Dealer type                         14105 non-null  object
 23  Rank                                14105 non-null  int64
 24  Sourcing Partner                    3726 non-null   object
 25  SourcingPartnerType                 14105 non-null  object
 26  Credit Status_x                     14105 non-null  object
 27  RepName_y                           14105 non-null  object
 28  Day of Created_y                    14105 non-null  object
 29  Dealer Name_y                       14105 non-null  object
 30  Address 1_y                         14105 non-null  object
 31  Area Name_y                         14105 non-null  object
 32  City Name_y                         14105 non-null  object
 33  District_y                          14105 non-null  object
 34  StateName_y                         14105 non-null  object
 35  MobileNumber_y                      14105 non-null  int64
 36  Latlng_y                            12256 non-null  object
 37  Lot Size                            14105 non-null  object
 38  Customer Rating                     14105 non-null  object
 39  Credit Rating                       14105 non-null  object
 40  GST No_y                            7750 non-null   object
 41  SiteId                              14105 non-null  int64
 42  Rep. Name                           14105 non-null  object
 43  Day of Created (sites)              14105 non-null  object
 44  Site Name_x                         14105 non-null  object
 45  Address1 (sites)                    14105 non-null  object
 46  Area/Town                           14105 non-null  object
 47  CityName                            14065 non-null  object
 48  District Name_x                     14105 non-null  object
 49  Pin Code                            14105 non-null  int64
 50  Lat.Lng.                            13839 non-null  object
 51  MobileNo.                           14105 non-null  object
 52  Initial Construction Stage          14105 non-null  object
 53  Rep Name                            14105 non-null  object
 54  Day of Created (sitebrandmixlines)  14105 non-null  object
 55  Site Name_y                         14105 non-null  object
 56  District Name_y                     14105 non-null  object
 57  Construction Stage                  14105 non-null  object
 58  Category Name_y                     14105 non-null  object
 59  Sub-Category_y                      14105 non-null  object
 60  Brand Name_y                        14105 non-null  object
 61  Source Partner Name                 238 non-null    object
 62  Credit Status_y                     600 non-null    object
dtypes: float64(1), int64(6), object(56)
memory usage: 6.8+ MB

In [7]:
df_1 = data[['CustomerId',"Day of Created Date","Sub-Category_x"]]

In [8]:
df_1.columns = ["CustomerId","Date","products"]

In [9]:
df_1

       CustomerId             Date     products
0           12082   6 October 2023     TMT BARS
1           12082   6 October 2023     TMT BARS
2           12082   6 October 2023     TMT BARS
3           12082   6 October 2023     TMT BARS
4           12082   6 October 2023     TMT BARS
...           ...              ...          ...
14100       12686  19 October 2023  WATER TANKS
14101       12686  19 October 2023  WATER TANKS
14102       12686  19 October 2023  WATER TANKS
14103       12686  19 October 2023  WATER TANKS
14104       12686  19 October 2023  WATER TANKS

[14105 rows x 3 columns]

In [10]:
df_1["Date"] = pd.to_datetime(df_1['Date'])

C:\Users\SUBIN.S\AppData\Local\Temp\ipykernel_3528\2593280830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1["Date"] = pd.to_datetime(df_1['Date'])

In [11]:
df_1

       CustomerId       Date     products
0           12082 2023-10-06     TMT BARS
1           12082 2023-10-06     TMT BARS
2           12082 2023-10-06     TMT BARS
3           12082 2023-10-06     TMT BARS
4           12082 2023-10-06     TMT BARS
...           ...        ...          ...
14100       12686 2023-10-19  WATER TANKS
14101       12686 2023-10-19  WATER TANKS
14102       12686 2023-10-19  WATER TANKS
14103       12686 2023-10-19  WATER TANKS
14104       12686 2023-10-19  WATER TANKS

[14105 rows x 3 columns]

In [12]:
df_1 = df_1.sort_values(["CustomerId","Date"])

In [13]:
df_1

       CustomerId       Date            products
13141       11883 2023-08-24  SWITCHES & SOCKETS
13142       11883 2023-08-24  SWITCHES & SOCKETS
13143       11883 2023-08-24  SWITCHES & SOCKETS
13144       11883 2023-08-24  SWITCHES & SOCKETS
13145       11883 2023-08-24  SWITCHES & SOCKETS
...           ...        ...                 ...
11888       12711 2023-08-25                 PPC
11889       12711 2023-08-25                 PPC
11890       12711 2023-10-04               TILES
11891       12711 2023-10-04               TILES
11892       12711 2023-10-04               TILES

[14105 rows x 3 columns]

In [14]:
unique_data = df_1.groupby(["CustomerId","Date"])["products"].unique().agg(list).reset_index()
with_duplicate = df_1.groupby(["CustomerId","Date"])["products"].agg(list).reset_index()

C:\Users\SUBIN.S\AppData\Local\Temp\ipykernel_3528\830801320.py:1: FutureWarning: using <class 'list'> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  unique_data = df_1.groupby(["CustomerId","Date"])["products"].unique().agg(list).reset_index()

In [15]:
unique_data[unique_data["CustomerId"]==11889]

   CustomerId       Date                       products
2       11889 2023-08-24  [PPC, BINDING WIRE, TMT BARS]
3       11889 2023-10-31                     [TMT BARS]

In [16]:
unique_data

     CustomerId       Date                                           products
0         11883 2023-08-24  [SWITCHES & SOCKETS, WIRES & CABLES, PIPE FITT...
1         11885 2023-08-30  [LED, MCB, SWITCHES & SOCKETS, WIRES & CABLES,...
2         11889 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
3         11889 2023-10-31                                         [TMT BARS]
4         11891 2023-09-01  [BULBS, ELECTRICAL CONDUITS, LED, MCB, SWITCH ...
..          ...        ...                                                ...
378       12695 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
379       12695 2023-10-31                                         [TMT BARS]
380       12698 2023-10-09                      [PPC, BINDING WIRE, TMT BARS]
381       12711 2023-08-25                                              [PPC]
382       12711 2023-10-04                                            [TILES]

[383 rows x 3 columns]

In [17]:
len(unique_data["CustomerId"].unique())

246

In [18]:
df_1.groupby(["CustomerId","Date","products"]).size().reset_index(name="counts").sort_values("counts",ascending=False)

      CustomerId       Date            products  counts
909        12519 2023-09-01      WIRES & CABLES     135
526        12223 2023-09-01      WIRES & CABLES     108
96         11928 2023-09-06  SWITCHES & SOCKETS     104
297        12097 2023-09-01      WIRES & CABLES      99
311        12099 2023-09-01      WIRES & CABLES      99
...          ...        ...                 ...     ...
464        12194 2023-09-06         WATER TANKS       2
465        12194 2023-09-06     WOODEN FLOORING       2
1081       12619 2023-10-09    STRUCTURAL STEEL       2
1083       12620 2023-10-09        BINDING WIRE       2
144        11999 2023-08-07        BINDING WIRE       2

[1200 rows x 4 columns]

In [19]:
unique_data

     CustomerId       Date                                           products
0         11883 2023-08-24  [SWITCHES & SOCKETS, WIRES & CABLES, PIPE FITT...
1         11885 2023-08-30  [LED, MCB, SWITCHES & SOCKETS, WIRES & CABLES,...
2         11889 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
3         11889 2023-10-31                                         [TMT BARS]
4         11891 2023-09-01  [BULBS, ELECTRICAL CONDUITS, LED, MCB, SWITCH ...
..          ...        ...                                                ...
378       12695 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
379       12695 2023-10-31                                         [TMT BARS]
380       12698 2023-10-09                      [PPC, BINDING WIRE, TMT BARS]
381       12711 2023-08-25                                              [PPC]
382       12711 2023-10-04                                            [TILES]

[383 rows x 3 columns]

Apriory

In [20]:
! pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.23.0)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: C:\Users\SUBIN.S\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib>=3.0.0 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (3.8.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (1.26.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mlxtend) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: cycler>=0.10 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (4.45.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: pillow>=8 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\subin.s\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [21]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules,fpgrowth

In [22]:
t_encoder = TransactionEncoder()

In [23]:
tras_data = t_encoder.fit(unique_data["products"]).transform(unique_data["products"])

In [24]:
tras_data

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False,  True, ..., False, False, False],
       ...,
       [False, False,  True, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [25]:
t_encoder.columns_

['ADHESIVE & SEALANT',
 'BATHROOM ACCESSORIES',
 'BINDING WIRE',
 'BULBS',
 'CONSTRUCTION CHEMICALS',
 'DRAWERS & CABINET HARDWARE',
 'ELECTRICAL CONDUITS',
 'EXTERIOR WALL PAINTS',
 'FALSE CEILING',
 'INTERIOR WALL PAINTS',
 'LED',
 'LOCKS',
 'MCB',
 'OPC',
 'PIPE FITTINGS',
 'PIPES',
 'PIPES & TUBES',
 'PLYWOOD',
 'PPC',
 'PUMPS & MOTORS',
 'PVC DOORS',
 'ROOFING SHEETS',
 'SANITARY WARE',
 'STRUCTURAL STEEL',
 'SWITCH GEAR & ACCESSORIES',
 'SWITCHES & SOCKETS',
 'TAPS & FAUCETS',
 'TILES',
 'TMT BARS',
 'UNDERCOATS',
 'WALL PUTTY',
 'WATER TANKS',
 'WIRES & CABLES',
 'WOOD & METAL',
 'WOOD COATING',
 'WOODEN DOOR',
 'WOODEN FLOORING']

In [26]:
encode_data = pd.DataFrame(tras_data,columns=t_encoder.columns_)

In [27]:
encode_data

,ADHESIVE & SEALANT,BATHROOM ACCESSORIES,BINDING WIRE,BULBS,CONSTRUCTION CHEMICALS,DRAWERS & CABINET HARDWARE,ELECTRICAL CONDUITS,EXTERIOR WALL PAINTS,FALSE CEILING,INTERIOR WALL PAINTS,...,TILES,TMT BARS,UNDERCOATS,WALL PUTTY,WATER TANKS,WIRES & CABLES,WOOD & METAL,WOOD COATING,WOODEN DOOR,WOODEN FLOORING
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,True,False,True,...,False,False,False,False,True,True,True,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,True,False,True,False,False,True,False,False,False,...,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,False,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
379,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
380,False,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [28]:
apri = apriori(encode_data,min_support=0.159, use_colnames=True)

In [29]:
association_rules(apri,metric="confidence")

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(BINDING WIRE),(PPC),0.462141,0.537859,0.389034,0.841808,1.565109,0.140467,2.921391,0.671304
1,(ROOFING SHEETS),(BINDING WIRE),0.161880,0.462141,0.161880,1.000000,2.163842,0.087069,inf,0.641745

In [30]:
# FB -Growth

fpg = fpgrowth(encode_data, min_support=0.059, use_colnames=True)
association_rules(fpg,metric='confidence')

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(SWITCHES & SOCKETS),(WIRES & CABLES),0.109661,0.107050,0.107050,0.976190,9.119048,0.095310,37.503916,1.000000
1,(WIRES & CABLES),(SWITCHES & SOCKETS),0.107050,0.109661,0.107050,1.000000,9.119048,0.095310,inf,0.997076
2,(PIPES),(SWITCHES & SOCKETS),0.088773,0.109661,0.086162,0.970588,8.850840,0.076427,30.271540,0.973431
3,(PIPES),(WIRES & CABLES),0.088773,0.107050,0.083551,0.941176,8.791966,0.074048,15.180157,0.972600
4,(PIPES),(LED),0.088773,0.104439,0.083551,0.941176,9.011765,0.074280,15.224543,0.975645
...,...,...,...,...,...,...,...,...,...,...
119,"(ROOFING SHEETS, PIPES & TUBES, PPC)",(BINDING WIRE),0.122715,0.462141,0.122715,1.000000,2.163842,0.066004,inf,0.613095
120,"(BINDING WIRE, PIPES & TUBES)","(ROOFING SHEETS, PPC)",0.127937,0.156658,0.122715,0.959184,6.122789,0.102673,20.661880,0.959422
121,"(ROOFING SHEETS, PIPES & TUBES)","(BINDING WIRE, PPC)",0.127937,0.389034,0.122715,0.959184,2.465553,0.072943,14.968668,0.681615
122,"(PIPES & TUBES, PPC)","(BINDING WIRE, ROOFING SHEETS)",0.122715,0.161880,0.122715,1.000000,6.177419,0.102850,inf,0.955357
123,(PIPES & TUBES),"(BINDING WIRE, ROOFING SHEETS, PPC)",0.130548,0.156658,0.122715,0.940000,6.000333,0.102264,14.055701,0.958469

Customer based Recomendation

In [31]:
df_2 = data[["CustomerId","Day of Created Date", "Sub-Category_x","Credit Rating"]]

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
le = LabelEncoder()
df_2["Credit Rating"] = le.fit_transform(df_2["Credit Rating"])

C:\Users\SUBIN.S\AppData\Local\Temp\ipykernel_3528\4096386686.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["Credit Rating"] = le.fit_transform(df_2["Credit Rating"])

In [34]:
df_2

       CustomerId Day of Created Date Sub-Category_x  Credit Rating
0           12082      6 October 2023       TMT BARS              5
1           12082      6 October 2023       TMT BARS              5
2           12082      6 October 2023       TMT BARS              5
3           12082      6 October 2023       TMT BARS              5
4           12082      6 October 2023       TMT BARS              5
...           ...                 ...            ...            ...
14100       12686     19 October 2023    WATER TANKS              5
14101       12686     19 October 2023    WATER TANKS              5
14102       12686     19 October 2023    WATER TANKS              5
14103       12686     19 October 2023    WATER TANKS              5
14104       12686     19 October 2023    WATER TANKS              5

[14105 rows x 4 columns]

In [35]:
df_2 = df_2.groupby("CustomerId")["Credit Rating"].sum().reset_index()
df_2

     CustomerId  Credit Rating
0         11883            120
1         11885            480
2         11889             80
3         11891           1340
4         11892            255
..          ...            ...
241       12689            120
242       12690             60
243       12695             80
244       12698             60
245       12711             45

[246 rows x 2 columns]

In [36]:
df_2 = df_2.sort_values("CustomerId",ascending=True)

In [37]:
df = unique_data.sort_values("CustomerId",ascending=True)

In [38]:
df

     CustomerId       Date                                           products
0         11883 2023-08-24  [SWITCHES & SOCKETS, WIRES & CABLES, PIPE FITT...
1         11885 2023-08-30  [LED, MCB, SWITCHES & SOCKETS, WIRES & CABLES,...
2         11889 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
3         11889 2023-10-31                                         [TMT BARS]
4         11891 2023-09-01  [BULBS, ELECTRICAL CONDUITS, LED, MCB, SWITCH ...
..          ...        ...                                                ...
378       12695 2023-08-24                      [PPC, BINDING WIRE, TMT BARS]
379       12695 2023-10-31                                         [TMT BARS]
380       12698 2023-10-09                      [PPC, BINDING WIRE, TMT BARS]
381       12711 2023-08-25                                              [PPC]
382       12711 2023-10-04                                            [TILES]

[383 rows x 3 columns]

In [39]:
df["Rating"] = df_2["Credit Rating"]

In [40]:
df.head()

,CustomerId,Date,products,Rating
0,11883,2023-08-24,"[SWITCHES & SOCKETS, WIRES & CABLES, PIPE FITT...",120.0
1,11885,2023-08-30,"[LED, MCB, SWITCHES & SOCKETS, WIRES & CABLES,...",480.0
2,11889,2023-08-24,"[PPC, BINDING WIRE, TMT BARS]",80.0
3,11889,2023-10-31,[TMT BARS],1340.0
4,11891,2023-09-01,"[BULBS, ELECTRICAL CONDUITS, LED, MCB, SWITCH ...",255.0

In [41]:
df["productsID"] = df["products"].apply(lambda x: hash(tuple(x)))

In [42]:
df.head()

,CustomerId,Date,products,Rating,productsID
0,11883,2023-08-24,"[SWITCHES & SOCKETS, WIRES & CABLES, PIPE FITT...",120.0,178290354580603428
1,11885,2023-08-30,"[LED, MCB, SWITCHES & SOCKETS, WIRES & CABLES,...",480.0,3867788277567805927
2,11889,2023-08-24,"[PPC, BINDING WIRE, TMT BARS]",80.0,-6251355606952066944
3,11889,2023-10-31,[TMT BARS],1340.0,-152028895688673774
4,11891,2023-09-01,"[BULBS, ELECTRICAL CONDUITS, LED, MCB, SWITCH ...",255.0,-2629810575942810694

Installing Surprise

In [43]:
from surprise import Dataset,Reader, SVD
from surprise.model_selection import train_test_split

In [44]:
# Reading
readed = Reader(line_format="user item rating",rating_scale=(0,1))

In [45]:
df.fillna(0,inplace=True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 383 entries, 0 to 382
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerId  383 non-null    int64
 1   Date        383 non-null    datetime64[ns]
 2   products    383 non-null    object
 3   Rating      383 non-null    float64
 4   productsID  383 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 18.0+ KB

In [47]:
data_for_sur = Dataset.load_from_df(df[["CustomerId","productsID","Rating"]],readed)

In [48]:
data_for_sur

In [49]:
train_data, test_data =train_test_split(data_for_sur,test_size=0.2)

In [50]:
data

,RepName,Day of Created_x,Customer Type,CustomerId,Customer Name,Address 1_x,Area Name,City Name,District_x,StateName_x,...,Rep Name,Day of Created (sitebrandmixlines),Site Name_y,District Name_y,Construction Stage,Category Name_y,Sub-Category_y,Brand Name_y,Source Partner Name,Credit Status_y
0,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,CEMENT,PPC,PRIYA CEMENT,NaN,NaN
1,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,ELECTRICALS,ELECTRICAL CONDUITS,FINOLEX,NaN,NaN
2,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,ELECTRICALS,MCB,POLYCAB,NaN,NaN
3,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,ELECTRICALS,WIRES & CABLES,MAHAL,NaN,NaN
4,AKASH,11 October 2023,Mason,12082,Saravanan,"30 Sadhukaramadam 1st Street Banavaram, Kosapet",KOSAPET (VELLORE),VELLORE,VELLORE,TAMIL NADU,...,akash,11 October 2023,30 Sadhukaramadam 1st Street,VELLORE,Finishing,PLYWOODS & BOARDS,PLYWOOD,CENTURY PLY,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14100,VENKAT,19 October 2023,Mason,12686,Babu.Mason. sathuvachari-vellore,Sathumathurai,SATHUVACHARI,VELLORE,VELLORE,TAMIL NADU,...,venkat,19 October 2023,Babu.Mason. sathuvachari-vellore,VELLORE,Finishing,STEEL,TMT BARS,SURYADEV,NaN,NaN
14101,VENKAT,19 October 2023,Mason,12686,Babu.Mason. sathuvachari-vellore,Sathumathurai,SATHUVACHARI,VELLORE,VELLORE,TAMIL NADU,...,venkat,19 October 2023,Babu.Mason. sathuvachari-vellore,VELLORE,Finishing,WALLS & SURFACE FINISHES,EXTERIOR WALL PAINTS,ASIAN PAINTS,NaN,NaN
14102,VENKAT,19 October 2023,Mason,12686,Babu.Mason. sathuvachari-vellore,Sathumathurai,SATHUVACHARI,VELLORE,VELLORE,TAMIL NADU,...,venkat,19 October 2023,Babu.Mason. sathuvachari-vellore,VELLORE,Finishing,WALLS & SURFACE FINISHES,EXTERIOR WALL PAINTS,NIPPON PAINTS,NaN,NaN
14103,VENKAT,19 October 2023,Mason,12686,Babu.Mason. sathuvachari-vellore,Sathumathurai,SATHUVACHARI,VELLORE,VELLORE,TAMIL NADU,...,venkat,19 October 2023,Babu.Mason. sathuvachari-vellore,VELLORE,Finishing,WALLS & SURFACE FINISHES,INTERIOR WALL PAINTS,ASIAN PAINTS,NaN,NaN
14104,VENKAT,19 October 2023,Mason,12686,Babu.Mason. sathuvachari-vellore,Sathumathurai,SATHUVACHARI,VELLORE,VELLORE,TAMIL NADU,...,venkat,19 October 2023,Babu.Mason. sathuvachari-vellore,VELLORE,Finishing,WALLS & SURFACE FINISHES,INTERIOR WALL PAINTS,NIPPON PAINTS,NaN,NaN

In [51]:
model = SVD()

In [52]:
model.fit(train_data)

In [53]:
from itertools import chain

In [54]:
def show_recom(cust_id,number_of_rec):
    products_overall = df["productsID"].unique()
    procust_bought =df[df["CustomerId"]==cust_id]["productsID"].values
    prod_used_for_predict = [i for i in products_overall if i not in procust_bought]
    predict_recom = [(prod, model.predict(cust_id,prod).est) for prod in prod_used_for_predict]

    output_recom = [df[df["productsID"]== i_d]["products"].values[0] for i_d, a in predict_recom[:number_of_rec]]
    out_list = list(chain.from_iterable(output_recom))
    out_list = list(set(out_list))
    return out_list

In [55]:
df[df["CustomerId"]==11891]

,CustomerId,Date,products,Rating,productsID
4,11891,2023-09-01,"[BULBS, ELECTRICAL CONDUITS, LED, MCB, SWITCH ...",255.0,-2629810575942810694
5,11891,2023-09-06,"[PPC, SANITARY WARE, BINDING WIRE, TMT BARS, I...",480.0,-8515587394498327400
6,11891,2023-10-09,[INTERIOR WALL PAINTS],80.0,2132809661652787859

In [56]:
show_recom(11891,2)

['WATER TANKS',
 'PIPE FITTINGS',
 'WIRES & CABLES',
 'SWITCHES & SOCKETS',
 'MCB',
 'LED',
 'INTERIOR WALL PAINTS',
 'WOOD & METAL',
 'PIPES',
 'EXTERIOR WALL PAINTS']

In [57]:
products_overall = df["productsID"].unique()
procust_bounght = df[df["CustomerId"]==18891]["productsID"].values

In [58]:
for i in procust_bounght:
    print(i)

In [59]:
prod_used_for_predict = [i for i in products_overall if i not in procust_bounght]

In [60]:
predict_recom = [(prod, model.predict(11891,prod).est) for prod in prod_used_for_predict]

In [61]:
for prod in prod_used_for_predict:
    print(model.predict("AZZZMSZI9LKE6",prod))

user: AZZZMSZI9LKE6 item: 178290354580603428 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 3867788277567805927 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -6251355606952066944 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -152028895688673774 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -2629810575942810694 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -8515587394498327400 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 2132809661652787859 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -8279064881684034598 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 1283634980869770379 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -2249920340649816174 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 3879308631617738511 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -7210445955271899722 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 8073927429678494825 r_ui = None   est = 0.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 6769009037329222851 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -8880432687744752449 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -4781815470360532638 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -285947317432616681 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -4340806533517138200 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -2967179105994242083 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -4698023847935292010 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -286989986626704512 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 7658915045401615882 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -3331340043982607783 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 1525585921794985315 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 2569808482157400492 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -6029286902114567719 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -902731326297224862 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 7662502300353789787 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -6112169845253416764 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 5256200302855545231 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -6412092730048145507 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -5724294902449335344 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -2891247163233383354 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 602876828918275591 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -7071767783562086136 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 5595573341247868065 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 8561344537076926499 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 7592650219577446308 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 209543839163001160 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 7759170055414515589 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 5849832469748153160 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 4768197497255101594 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -3171422519004888661 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -1142008957651338136 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 1401320972131308961 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 7630821830532578989 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: -1670712627533827283 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 2329490249100148569 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 2980081900932959043 r_ui = None   est = 1.00   {'was_impossible': False}
user: AZZZMSZI9LKE6 item: 2710239817262202958 r_ui = None   est = 1.00   {'was_impossible': False}

In [62]:
predict_recom

[(178290354580603428, 1),
 (3867788277567805927, 1),
 (-6251355606952066944, 1),
 (-152028895688673774, 1),
 (-2629810575942810694, 1),
 (-8515587394498327400, 1),
 (2132809661652787859, 1),
 (-8279064881684034598, 1),
 (1283634980869770379, 1),
 (-2249920340649816174, 1),
 (3879308631617738511, 1),
 (-7210445955271899722, 1),
 (8073927429678494825, 1),
 (6769009037329222851, 1),
 (-8880432687744752449, 1),
 (-4781815470360532638, 1),
 (-285947317432616681, 1),
 (-4340806533517138200, 1),
 (-2967179105994242083, 1),
 (-4698023847935292010, 1),
 (-286989986626704512, 1),
 (7658915045401615882, 1),
 (-3331340043982607783, 1),
 (1525585921794985315, 1),
 (2569808482157400492, 1),
 (-6029286902114567719, 1),
 (-902731326297224862, 1),
 (7662502300353789787, 1),
 (-6112169845253416764, 1),
 (5256200302855545231, 1),
 (-6412092730048145507, 1),
 (-5724294902449335344, 1),
 (-2891247163233383354, 1),
 (602876828918275591, 1),
 (-7071767783562086136, 1),
 (5595573341247868065, 1),
 (8561344537076926499, 1),
 (7592650219577446308, 1),
 (209543839163001160, 1),
 (7759170055414515589, 1),
 (5849832469748153160, 1),
 (4768197497255101594, 1),
 (-3171422519004888661, 1),
 (-1142008957651338136, 1),
 (1401320972131308961, 1),
 (7630821830532578989, 1),
 (-1670712627533827283, 1),
 (2329490249100148569, 1),
 (2980081900932959043, 1),
 (2710239817262202958, 1)]

In [63]:
output_recom = [df[df["productsID"]== i_d]["products"].values[0] for i_d, a in predict_recom[:3]]
out_list = list(chain.from_iterable(output_recom))
out_list= list(set(out_list))
out_list

['BINDING WIRE',
 'WATER TANKS',
 'PIPE FITTINGS',
 'PPC',
 'WIRES & CABLES',
 'TMT BARS',
 'SWITCHES & SOCKETS',
 'MCB',
 'LED',
 'INTERIOR WALL PAINTS',
 'WOOD & METAL',
 'PIPES',
 'EXTERIOR WALL PAINTS']